.todo-list-container {
    border-radius: 15px;
}

.todo-list-scroll {
    display: grid;
    overflow-x: scroll;
}

.inventory-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 53px 150px 217px 165px 140px;
    padding: 10px 20px;
    background-color: white;
}

.todo-list-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.todo-list-screen {
    height: 29vh;
    overflow-y: overlay;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.todo-action {
    display: flex;
    gap: 10px;
}

@media (min-width: 576px) {
    .inventory-grid {
        grid-template-columns: 53px 174px 215px 147px 138px;
    }

    .todo-list-screen {
        height: 29vh;
    }
}

@media (min-width: 768px) {
    .inventory-grid {
        grid-template-columns: 53px 212px 222px 139px 133px;
    }

    .todo-list-screen {
        height: 29vh;
    }
}

@media (min-width: 992px) {
    .inventory-grid {
        grid-template-columns: 53px 144px 211px 142px 146px;
    }

    .todo-list-screen {
        height: 29vh;
    }
}

@media (min-width: 1200px) {
    .inventory-grid {
        grid-template-columns: 53px auto 215px 154px 142px;
    }

    .todo-list-screen {
        height: 29vh;
    }
}